   .mac1{
    color: #ff784f;
    text-align: center;
  }

    .mac2{
     color: #ff784f;
     text-align: center;
  }
  
  
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 600px;
    margin-top: 20px;
    margin-left: 530px;
    
  }
  
  .left {
    font-weight: bold;
    text-align: left;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 10px;
    font-size: 16px;
    
    
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff784f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    
  }

  
  